:root {
    --gap: 10px;
    --primary-margin: 10px;
    --secondary-margin: calc(var(--primary-margin)/2);
    --block-radius: 5px;
    --button-radius: 999px;
    --primary-padding: 20px;
    --ml: 20px;
    
    --desktop-width: 100%;

    --color-primary: rgb(69, 69, 240);
    --color-primary-hover: rgb(61, 61, 212);
    --color-primary-active: rgb(49, 49, 179);

    --color-delete: rgb(226, 41, 41);
    --color-delete-active: rgb(200, 35, 35);
}

main h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

body { 
    font-family: Arial, sans-serif; 
    margin: 20px; 
    background-color: rgb(235, 235, 235);
}

.questionsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.question { 
    padding: var(--primary-padding); 
    border-radius: var(--block-radius);
    width: var(--desktop-width);
    background-color: white;
    box-sizing: border-box;
}

.options { 
    margin-top: var(--primary-margin);
    display: grid;
    gap: var(--gap);
}

.primary-block {
    padding: var(--primary-padding); 
    border-radius: var(--block-radius);
    width: var(--desktop-width);
    display: grid;
    box-sizing: border-box;
}

.secondary-block {
    width: 100%;
    display: grid;
}

.labelsContainer {
    display: grid;
    gap: var(--gap);
}

.buttonsContainer {
    margin-top: var(--primary-margin);
}

.answer-block {
    display: grid;
    gap: var(--gap);
    padding: var(--primary-padding);
    box-sizing: border-box;
    border-radius: var(--block-radius);
    border: 1px solid var(--color-primary);
}

.sub-question-block .answer-block {
    display: grid;
    gap: var(--gap);
    padding: var(--primary-padding);
    box-sizing: border-box;
    border-radius: 0;
    border-top: none;
    border-right: none;
}

.sub-question-block .options {
    gap: 0;
}

button {
    background-color: var(--color-primary);
    border: none;
    color: white;
    border-radius: var(--block-radius);
    padding: 7.5px 20px 7.5px 20px;
}

button:hover {
    background-color: var(--color-primary-hover);
    cursor: pointer;
}

button:active {
    background-color: var(--color-primary-active);
}

.block {
    background-color: white;
}

.delete-btn {
    background-color: transparent;
    border: 1px solid var(--color-delete);
    color: var(--color-delete);
}

.delete-btn:hover {
    background-color: var(--color-delete);
    color: white;
}

.delete-btn:active {
    background-color: var(--color-delete-active);
    border: 1px solid var(--color-delete-active);
}

.numeration {
    margin: 0;
    font-size: 15px;
}

input[type="text"] {
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    height: 50px;
    width: 50%;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
}

input[type="text"]:focus {
    border-color: var(--color-primary);
    outline: none; 
}

input[type="text"]:focus + label {
    color: var(--color-primary);
}

select {
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    height: 50px;
    width: 25%;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 0 10px 0 10px;
    background-color: white;
}

select:focus {
    border-color: var(--color-primary);
    outline: none; 
}

input[type="text"].full-input {
    width: 100%;
}

.label-text {
    font-size: 13.5px;
    background-color: white;
    position: relative;
    bottom: -10px;
    left: 10px;
    padding: 0 10px 0 10px;
    color: gray;
}

#jsonFileInput {
    display: none;
}

.file-load-btn {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.file-load-btn:hover {
    color: white;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap);
}

.display-section {
    padding: 20px;
    border-radius: var(--block-radius);
    background-color: rgb(42, 42, 42);
    position: relative;
    max-width: 500px;
    overflow-x: auto;
    white-space: nowrap;
}

#jsonPreview {
    color: rgb(225, 255, 142);
    box-sizing: border-box;
}

pre {
    margin: 0;
}

.test-section {
    display: grid;
    gap: var(--gap);
}

.option-container {
    display: grid;
    grid-template-columns: 20px auto;
}

.sub-question-block {
    border: 1px solid #ccc;
    border-radius: var(--block-radius);
    padding: 20px;
    box-sizing: border-box;
}

.option-container {
    display: grid;
    grid-template-columns: var(--ml) auto;
}

.subQuestion-container {
    display: grid;
    grid-template-columns: var(--ml) var(--ml) auto;
}

.visual-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.visual-block-1 {
    border-left: 1px solid var(--color-primary);
}

.visual-block-2 {
    border-left: 1px solid var(--color-primary);
}

.visual-block-3 {
    border-left: 1px solid var(--color-primary);
    border-bottom: 1px solid var(--color-primary);
    border-radius: 0 0 0 999px;
}

.visual-block {
    border-left: 1px dashed #ccc;
}

.main-select-container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

.main-select {
    width: 100%;
}

@media (max-width: 900px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--gap);
    }

    .display-section {
        padding: 20px;
        border-radius: var(--block-radius);
        background-color: rgb(42, 42, 42);
        position: relative;
        max-width: none;
        overflow-x: auto;
        white-space: nowrap;
        box-sizing: border-box;
    }
}

@media (max-width: 1400px) {
    input[type="text"] {
        width: 100%;
    }
}

@media (max-width: 700px) {
    select {
        width: 50%;
    }
    .main-select-container {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .buttonsContainer {
        display: grid;
        gap: 10px;
    }
    select {
        width: 100%;
    }
}
